<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32014">
		<setting type="lsep" label="32015"/>
		<setting type="lsep" label="32016"/>
		<setting type="lsep" label="32017"/>
		<setting type="sep"/>
		<setting type="lsep" label="32018"/>
		<setting type="lsep" label="32019"/>
		<setting type="lsep" label="32020"/>
		<setting type="lsep" label="32021"/>
	</category>
    <category label="32001">
		<setting type="lsep"/>
        <setting id="musicdirectory" label="32002" type="folder"/>
        <setting id="onlinelookup" label="32013" type="bool" default="true"/>
        <setting type="sep"/>
        <setting id="usefanarttv" label="32003" type="bool" default="true" enable="eq(-2,true)"/>
        <setting id="usetadb" label="32004" type="bool" default="true" enable="eq(-3,true)" />
    </category>
    <category label="32005">
        <setting type="lsep" label="32006"/>
        <setting type="text" label="32007" id="st1find" default=" "/>
        <setting type="text" label="32008" id="st1rep" default=" "/>
        <setting type="lsep" label="32009"/>
        <setting type="text" label="32007" id="st2find" default=" "/>
        <setting type="text" label="32008" id="st2rep" default=" "/>
        <setting type="lsep" label="32010"/>
        <setting type="text" label="32007" id="st3find" default=" "/>
        <setting type="text" label="32008" id="st3rep" default=" "/>
        <setting type="lsep" label="32011"/>
        <setting type="text" label="32007" id="st4find" default=" "/>
        <setting type="text" label="32008" id="st4rep" default=" "/>
        <setting type="lsep" label="32012"/>
        <setting type="text" label="32007" id="st5find" default=" "/>
        <setting type="text" label="32008" id="st5rep" default=" "/>
    </category>
</settings>
